<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact US</title>
    
    <link rel="stylesheet" href="../assetes/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assetes/css/styleEN.css">
    <link rel="stylesheet" href="../assetes/css/font-awesome.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav">
            <div class="container-fluid d-flex align-items-center w-100">
                <a class="navbar-brand " href="../index.html">
                    <h4 class="fw-bold"><span class="text-primary">j</span>obhub</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0 m-auto w-50 p-1  justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="../templates/findJob.html">Find Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Companies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu p-4 rounded-4" aria-labelledby="navbarDropdown">
                                <li class=""><a class="dropdown-item "
                                        href="../templates/profile/index.html">profile</a></li>

                                <li class=""><a class="dropdown-item " href="./aboutUS.html">About Us</a></li>
                                <li class=""><a class="dropdown-item" href="./contactUS.html">Contact Us</a></li>
                                <li class=""><a class="dropdown-item" href="./signIN.html">Sign In</a></li>
                                <li class=""><a class="dropdown-item" href="./signUP.html">Sign Up</a></li>
                                <li class=""><a class="dropdown-item" href="#">FAQs</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex signinSignup align-items-center">
                        <button class="btn text-light bg-primary m-2 rounded-pill" type="submit">Post a Job</button>
                        <div class="dropdown">
                            <a href="../templates/proflieDashboard.html" id="dropdownMenuLink" class="btn p-1">
                                <img src="../assetes/images/b.jpg" class=" rounded-pill" width="40" height="40" alt="">
                            </a>
                            <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                ehsaselias
                            </a>

                            <ul class="dropdown-menu p-4 rounded-4" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="../templates/proflieDashboard.html">Dashboard</a>
                                </li>
                                <li><a class="dropdown-item" href="../templates/proflieEdit.html">Edit Profile</a></li>
                                <li><a class="dropdown-item" href="../index.html">Logout</a></li>
                            </ul>
                        </div>
                        </li>
                    </form>
                </div>
            </div>
        </nav>
    </header>



    <section>
        <div class="w-75 mx-auto my-5 py-5">
            <h2 class="fw-border text-center my-3">We'd love to heard from you</h2>
            <p class="link-secoundery text-center">Get in touch with us</p>
            <div class="d-flex cards justify-content-between flex-wrap m-auto">
                <div class="rounded-4 p-5 m-2 bg-lightBlue text-center" style="border:1px solid #eee ">
                      <span class="fa fa-envelope-o bg-white p-3 shadow-lg  rounded-4"></span>
                    
                    <p class="m-3"> email@gmail.com</p>
                   
                    
                </div>
                <div class="rounded-4 p-5 m-2 bg-lightBlue text-center" style="border:1px solid #eee ">
                    <span class="fa fa-instagram bg-white p-3 shadow-lg  rounded-4"></span>
                  
                  <p class="m-3"> email@gmail.com</p>
                 
                  
              </div>
              <div class="rounded-4 p-5 m-2 bg-lightBlue text-center" style="border:1px solid #eee ">
                <span class="fa fa-facebook bg-white p-3 shadow-lg  rounded-4"></span>
              
              <p class="m-3"> email@gmail.com</p>
             
              
          </div>
            </div>
        </div>
    </section>


<section>
    <div tabindex="-1" class="my-5 py-5" >
        <div class="modal-dialog ">
            <div class="modal-content  border-0">
                <div class="modal-header border-0">
                    <h5 class="modal-title d-flex m-auto fw-bolder">Contact Us</h5>
                   
                </div>
              
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            
                            <label for="" class="form-text w-100"> Name</label>
                            <input type="text" class="form-control rounded-pill p-3" placeholder="Username" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                           <label for="" class="form-text w-100"> Email</label>
                            <input type="text" class="form-control rounded-pill p-3" placeholder="Email" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>
                        <label for="" class="form-text w-100"> Message</label>
                        <div class="input-group mb-3">
                            
                            <input type="text" class="form-control py-5 rounded-4 p-3" placeholder="Message" aria-label="Password"
                                aria-describedby="basic-addon1">
                        </div>
                      
                    

                </div>

                <div class="modal-footer justify-content-between border-0">
                    <a class="btn btn-primary w-100 rounded-pill p-3" href="#">send message</a>

                  
                </div>

            </div>
        </div>
    </div>
</section>


    <div class="bg-lightBlue" style="font-size: 1rem !important;">
        <div class="w-75 p-5 d-flex flex-wrap m-auto justify-content-between">
            <div class="my-2">
                <a class="text-dark text-decoration-none d-block" href="../index.html">
                    <h4 class="fw-bold m-0"><span class="text-primary">j</span>obhub</h4>
                </a>
                <div>
                    <h5 class="fw-bold">Call us</h5>
                    <h2 class="text-primary">999999999</h2>
                    <p class="link-secoundery">90 Fifth Avenue, 3rd Floor
                        Yemen,<br> Sanaa 1980
                        office@jobHub.com</p>
                </div>
            </div>




            <div class="my-2">
                <h5 class="fw-bold">For Candidates</h5>
                <p class="link-secoundery">Find Jobs</p>
                <p class="link-secoundery">Candidate Dashboard</p>
                <p class="link-secoundery">My Applications</p>
                <p class="link-secoundery">Favourite Jobs</p>
                <p class="link-secoundery">My inbox</p>
            </div>
            <div class="my-2">
                <h5 class="fw-bold">For Candidates</h5>
                <p class="link-secoundery">Find Jobs</p>
                <p class="link-secoundery">Candidate Dashboard</p>
                <p class="link-secoundery">My Applications</p>
                <p class="link-secoundery">Favourite Jobs</p>
                <p class="link-secoundery">My inbox</p>
            </div>
            <div>
                <h5 class="fw-bold">For Candidates</h5>
                <p class="link-secoundery">Find Jobs</p>
                <p class="link-secoundery">Candidate Dashboard</p>
                <p class="link-secoundery">My Applications</p>
                <p class="link-secoundery">Favourite Jobs</p>
                <p class="link-secoundery">My inbox</p>
            </div>
        </div>
    </div>




    <footer class="bg-pink-light py-4">

        <div class="w-75 m-auto d-flex justify-content-between flex-wrap">
            <p class="link-secoundery">&copy; 2021 Jobhub. All Rights Reseved. </p>
            <div>

                <span class="fa fa-facebook px-2"></span>
                <span class="fa fa-twitter px-2"></span>
                <span class="fa fa-github px-2"></span>
            </div>
        </div>

    </footer>
    <script src="../assetes/js/js.js"></script>
    <script src="../assetes/js/bootstrap.bundle.min.js"></script>
    <script src="../assetes/js/app.js"></script>

</body>
</html>