<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assetes/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assetes/css/styleEN.css">
    <link rel="stylesheet" href="../assetes/css/font-awesome.css">
    <title>Document</title>
</head>
<body class="fs-6">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav">
            <div class="container-fluid d-flex align-items-center">
                <a class="navbar-brand " href="../index.html">
                    <h4 class="fw-bold"><span class="text-primary">j</span>obhub</h4>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
                    <ul class="navbar-nav  mb-2 mb-lg-0 m-auto w-50 p-1  justify-content-between">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Find Jobs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="">Companies</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active dropdown-toggle" href="" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu p-4 rounded-4" aria-labelledby="navbarDropdown">
                                <li class=""><a class="dropdown-item " href="#">About Us</a></li>
                                <li class=""><a class="dropdown-item" href="#">Contact Us</a></li>
                                <li class=""><a class="dropdown-item" href="#">Sign In</a></li>
                                <li class=""><a class="dropdown-item" href="#">Sign Up</a></li>
                                <li class=""><a class="dropdown-item" href="#">FAQs</a></li>
                            </ul>
                        </li>
    
                    </ul>
                    <form class="d-flex signinSignup align-items-center">
                        <button class="btn text-light bg-primary m-2 rounded-pill" type="submit">Post a Job</button>
                        <div class="dropdown">
                            <a href="" id="dropdownMenuLink" class="btn p-1">
                                <img src="../assetes/images/b.jpg" class=" rounded-pill" width="40" height="40" alt="">
                            </a>
                            <a class="btn dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            ehsaselias
                            </a>
                          
                            <ul class="dropdown-menu p-4 rounded-4" aria-labelledby="dropdownMenuLink">
                              <li><a class="dropdown-item" href="../templates/proflieDashboard.html">Dashboard</a></li>
                              <li><a class="dropdown-item" href="../templates/proflieEdit.html">Edit Profile</a></li>
                              <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                          </div>
                        </li>
                    </form>
                </div>
            </div>
        </nav>
    </header>

  <div class="d-flex mt-5" >
    <select id="categories">
        <option value="all">All</option>
        <option value="com">Company</option>
        <option value="city">City</option>
    </select>
    <select id="com-name"></select>
    <select id="cities"></select>
  </div>
  <script src="../assetes/js/js.js"></script>
    <script src="../assetes/js/bootstrap.bundle.min.js"></script>
    <script src="../assetes/js/app.js"></script>
    


</body>
</html>